/* ButtonList.css */
.button-list-container {
  max-width: 100%;
  overflow-x: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }
}

.button-list {
  display: flex;
  align-items: center;
  gap: 8px; /* Adjust the spacing between buttons */
  padding: 8px; /* Add padding for better spacing */
}

/* Additional styling for the buttons (Button.css) */
/* Button.css */
button {
  padding: 8px 16px;
  background-color: #fff; /* White background */
  color: #606060;
  border: 1px solid #ccc; /* Light border color */
  border-radius: 3px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #f9f9f9; /* Light gray on hover */
}
